*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.idea/
*.jks
*.keystore
app/release/
**/build/
keystore.properties
google-play-api.json
**/service-account*.json
